<!-- This content is loaded dynamically by HTMX -->
<form action="/download" method="POST" autocomplete="off">
  <input type="hidden" name="form_type" value="album" />
  <div class="form-group">
    <label for="artist">Artist name:</label>
    <input type="text" id="artist" name="artist" required />
  </div>
  <div class="form-group">
    <label for="albums">Album names (comma-separated):</label>
    <input type="text" id="albums" name="albums" required />
  </div>
  <div class="form-group">
    <label for="urls">Playlist URLs (comma-separated):</label>
    <input type="text" id="album_urls" name="album_urls" required />
  </div>
  <button type="submit">Download</button>
</form>
