<!-- This content is loaded dynamically by HTMX -->
<style>
  .button-background {
    height: 538px;
  }
</style>
<form action="/download" method="POST" autocomplete="off" id="download-form">
  <input type="hidden" name="form_type" value="album" />
  <div class="form-group">
    <label for="artist">Artist</label>
    <input
      type="text"
      id="artist"
      name="artist"
      placeholder="Enter artist name here"
      required
    />
  </div>
  <div class="form-group">
    <label for="albums">Album</label>
    <input
      type="text"
      id="albums"
      name="albums"
      placeholder="Enter all albums here comma-separated"
    />
  </div>
  <div class="form-group">
    <label for="album_urls">Link</label>
    <input
      type="text"
      id="album_urls"
      name="album_urls"
      placeholder="Enter all playlist urls here comma-separated"
      required
    />
  </div>
  <button type="submit" id="download-btn">Download</button>
</form>
