<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <title>Youtube mp3 downloader</title>
    <!-- Include HTMX library -->
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="button-background" id="button-background">
      <img src="static/logo.svg" alt="YouTube to MP3 Icon">
      <h1 class="title" id="title">Youtube to Mp3</h1>
      <h2 class="title" id="title">Enter your music details below</h1>

      <label for="formSelector">Select Option</label>
      <select
        id="formSelector"
        name="form"
        hx-get="/get-form"
        hx-target="#form-container"
        hx-swap="innerHTML"
      >
        <option value="">Select an option</option>
        <option value="albums">Download albums</option>
        <option value="playlists">Download playlists</option>
        <option value="song">Download songs</option>
      </select>

      <div id="form-container">
        <p>Please select a form from the dropdown above.</p>
      </div>
    </div>
  </body>
</html>
