<!-- This content is loaded dynamically by HTMX -->
<style>
  .button-background {
    height: 382px;
  }
</style>
<form action="/download" method="POST" autocomplete="off" id="download-form">
  <input type="hidden" name="form_type" value="playlists" />
  <div class="form-group">
    <label for="urls">Link</label>
    <input
      type="text"
      id="urls"
      name="urls"
      placeholder="Enter all playlist urls here comma-separated"
      required
    />
  </div>
  <button type="submit" id="download-btn">Download</button>
</form>
